---
import Layout from '../layouts/Layout.astro';
import '../styles/digipom.css';
---

<Layout title="404">
	
    <div class="flex flex-col items-center justify-center mt-20 mb-32">
        <div class="leading-none text-dpgreen text-[180px] md:text-[300px] font-light">404</div>
        <div class="text-4xl text-dpdarkblue font-semibold">Page not found</div>
    </div>

</Layout>
