---
import Layout from '../layouts/Layout.astro';
import '../styles/digipom.css';
---

<Layout title="About Us - Digipom">
	<section class="px-4 py-3 lg:px-0 mb-14 lg:max-w-[1110px] lg:mx-auto md:flex items-center justify-center">
		<div class="flex flex-col w-[398px] sm:w-full md:items-center md:w-[732px]">
			<div class="font-bold md:text-twentytwo text-dpgreen dark:text-darkmodedpgreen mb-3">Who are we?</div>
			<div class="font-bold text-forty tracking-tight leading-normal mb-4 dark:text-darkmodetext">
				Welcome to <span class="text-dpgreen dark:text-darkmodedpgreen">Digipom</span>
			</div>
			<p class="text-dpdarkblue text-opacity-60 text-lg md:text-twentytwo md:text-center dark:text-darkmodetext">
				We’re an independent development studio that was started in March 2012, and we’ve been creating fun, intuitive, and easy-to-use apps for mobile ever since.
			</p>
		</div>
	</section>
	
	<section class="px-4 py-3 lg:px-0 mb-10 lg:max-w-[1110px] lg:mx-auto md:flex">
		<div class="flex flex-col">
			<div class="font-bold md:text-twentytwo text-dpgreen dark:text-darkmodedpgreen mb-3">Our motto and values</div>
			<div class="md:max-w-[1062px] font-bold text-twentytwo md:text-thirtyfour tracking-tight leading-normal dark:text-darkmodetext mb-4">
				We believe a pleasant user experience is first and foremost.
			</div>
			<p class="text-dpdarkblue text-opacity-60 dark:text-darkmodetext md:text-twentytwo">
				An app doesn’t have to have fancy graphics, but it should be easy to understand and easy to use. Ads are acceptable, but they should never be intrusive. Our goal is to treat our users with respect, and deliver value that exceeds their expectations.
			</p>
		</div>
	</section>

	<section class="px-4 py-3 lg:px-0 mb-32 lg:max-w-[1110px] lg:mx-auto md:flex">
		<div class="flex flex-col">
			<div class="font-bold md:text-twentytwo text-dpgreen dark:text-darkmodedpgreen mb-3">A message from the founder</div>
			<div class="md:max-w-[1062px] font-bold text-twentytwo md:text-thirtyfour tracking-tight leading-normal dark:text-darkmodetext mb-4">
				My name is Kevin, and I’m the founder of Digipom.
			</div>
			<p class="mb-4 text-dpdarkblue text-opacity-60 dark:text-darkmodetext md:text-twentytwo">
				I’ve always wanted to record my grandmother’s stories, but when I went looking for a voice recorder in the Android market, I found that most of the apps in the Android Market were chock-full of ads, time limitations, or other unpalatable features. I wasn’t satisfied with this state of affairs, so I decided to make things better and developed my first app in early 2012, Easy Voice Recorder, a great voice recorder app for Android.
			</p>
			<p class="mb-4 text-dpdarkblue text-opacity-60 dark:text-darkmodetext md:text-twentytwo">
				Here is just a small sample of the reviews that we have received since then:
			</p>
			<div class="mb-6 text-dpdarkblue text-opacity-60 dark:text-darkmodetext md:text-twentytwo">
				<b>Easy Voice Recorder</b></div>
				<blockquote class="dark:border-x-darkmodedpgreen dark:text-darkmodetext">
					"Actually my 1st review here on Android Apps! Truly impressed with this app. Does exactly what I want in a simple way with included Widgets for easy access. Nice clean interface with easy access to record/stop buttons. Able to easily email recording as .wav file! Definitely able to delete and share recordings as needed. All for the great price of Free."
					<cite>-Mrq5</cite>
				</blockquote>

				<blockquote class="dark:border-x-darkmodedpgreen dark:text-darkmodetext">
					"Intuitive UI, and recording continues after I kill the screen. I love the ability to select CD quality audio. Crisp, clean, and clear audio. I’m using this app for 'CYA' purposes so this is perfect!"
					<cite>–Kirk</cite>
				</blockquote>
			<div class="mb-6 text-dpdarkblue text-opacity-60 dark:text-darkmodetext md:text-twentytwo">
				<b>Easy Voice Recorder Pro</b></div>
				<blockquote class="dark:border-x-darkmodedpgreen dark:text-darkmodetext">
					Some great features make this app worth its tiny cost and you’ll be hard pushed to find anything that matches its simplicity and function.  
					<cite>-Forest</cite>
				</blockquote>
			<p class="mb-4 text-dpdarkblue text-opacity-60 md:text-twentytwo dark:text-darkmodetext ">
				Developing great apps is my passion. I truly do believe that there is a better way of doing things, and that people still care about quality.
			</p>
			<p class="mb-4 text-dpdarkblue text-opacity-60 md:text-twentytwo dark:text-darkmodetext ">
				You can reach me via the contact page. Please don’t hesitate to send me your comments and feedback; I’d love to hear from you.
			</p>
			<p class="mb-4 text-dpdarkblue text-opacity-60 md:text-twentytwo dark:text-darkmodetext ">
				Best regards,
			</p>
			<p class="mb-4 text-dpdarkblue text-opacity-60 md:text-twentytwo dark:text-darkmodetext ">
				Kevin
			</p>

			
		</div>
	</section>	
</Layout>

<style is:global>
	blockquote {
	    border-left: 3px solid #408712;
	    color: #0e0e2c;
	    font-size: 22px;
	    line-height: 171%;
	    padding-top: 24px;
	    padding-bottom: 24px;
	    padding-left: 40px;
	    margin-bottom: 24px !important;
	    font-style: italic;
	}

	blockquote cite {
	  display: block;
	  margin-top: 5px;
	}
</style>