---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Breakthrough">
	<section class="px-4 py-3 lg:px-0 mb-14 lg:max-w-[1110px] lg:mx-auto md:flex items-center justify-center">
		<div class="flex flex-col w-[398px] sm:w-full md:items-center md:w-[732px]">
			<div class="font-bold md:text-twentytwo text-darkmodeprimary dark:text-darkmodeprimary mb-3">What now?</div>
			<div class="font-bold text-forty tracking-tight leading-normal mb-4 dark:text-darkmodetext">
				Welcome to Breakthrough Software
			</div>
			<p class="text-dpdarkblue text-opacity-60 text-lg md:text-twentytwo md:text-center dark:text-darkmodetext">
				We are an independent dev shop launched in 2023, providing custom tailored digital solutions to small & medium business, freelancers & solo entrepreneurs of all kinds.  
			</p>
		</div>
	</section>
	
	<section class="px-4 py-3 lg:px-0 mb-10 lg:max-w-[1110px] lg:mx-auto md:flex">
		<div class="flex flex-col">
			<div class="font-bold md:text-twentytwo text-darkmodeprimary dark:text-darkmodeprimary mb-3">Why?</div>
			<div class="md:max-w-[1062px] font-bold text-twentytwo md:text-thirtyfour tracking-tight leading-normal dark:text-darkmodetext mb-4">
				Building is hard, finding good help is harder.
			</div>
			<p class="text-dpdarkblue text-opacity-60 dark:text-darkmodetext md:text-twentytwo">
				Sometimes you just can't do it all alone - skip the Upwork/Fiverr race to the bottom, we've got you covered!
			</p>
		</div>
	</section>

	<section class="px-4 py-3 lg:px-0 mb-10 lg:max-w-[1110px] lg:mx-auto md:flex">
		<div class="flex flex-col">
			<div class="font-bold md:text-twentytwo text-darkmodeprimary mb-3 dark:text-darkmodeprimary">Connect Now</div>
			<div class="md:max-w-[1062px] font-bold text-twentytwo md:text-thirtyfour tracking-tight leading-normal dark:text-darkmodetext mb-4">
				Support with humans
			</div>
			<p class="text-dpdarkblue text-opacity-60 dark:text-darkmodetext md:text-twentytwo">
				No frustrating bots here, please feel free to reach us with the form below for any inquiry:
			</p>			
		</div>
	</section>

	<div class="flex flex-col">
		<section class="px-4 py-3 lg:px-0 mb-8 md:mb-44 lg:max-w-[1110px] lg:mx-auto md:flex md:items-start md:justify-center md:gap-20">
			<div class="md:w-1/2 flex flex-col">
				<form action="https://formsubmit.co/support@breakthrough.software" method="POST">
					<input type="hidden" name="_next" value="https://breakthrough.software/contact-thanks">
					<label class="mb-3 font-semibold text-dpdarkblue text-sm dark:text-darkmodetext" for="full_name">Full Name</label>
					<input class="mb-5 w-full md:max-w-[537px] py-2 px-4 border rounded border-dpneutral-600 text-dpdarkblue" id="full_name" type="text" name="full_name" placeholder="John Smith" />
					<label class="mb-3 font-semibold text-dpdarkblue text-sm dark:text-darkmodetext" for="email">Email</label>
					<input class="mb-5 w-full md:max-w-[537px] py-2 px-4 border rounded border-dpneutral-600 text-dpdarkblue" id="email" type="email" name="email" placeholder="john.smith@email.com" required />
					<label class="mb-3 font-semibold text-dpdarkblue text-sm dark:text-darkmodetext" for="phone_number">Phone number</label>
					<input class="mb-5 w-full md:max-w-[537px] py-2 px-4 border rounded border-dpneutral-600 text-dpdarkblue" id="phone_number" name="phone_number" placeholder="(555) 555-5555" />
					<label class="mb-3 font-semibold text-dpdarkblue text-sm dark:text-darkmodetext" for="message">Message</label>
					<textarea class="mb-6 md:mb-10 w-full md:max-w-[537px] py-2 px-4 border rounded border-dpneutral-600 text-dpdarkblue" rows="6" id="message" name="message" placeholder="Hey, John here. I had an idea for a killer app, but I'm not quite sure how to put it all together..." required />
					<button class="transition flex items-center justify-center gap-3 border-2 rounded border-darkmodeprimary hover:border-darkmodeprimary bg-darkmodeprimary hover:bg-darkmodeprimary w-full md:w-36 py-4 font-semibold text-sm text-white hover:text-white mb-4 md:mb-0 dark:border-darkmodeprimary dark:bg-darkmodeprimary dark:hover:bg-darkmodeprimary dark:hover:border-darkmodeprimary" type="submit">
						Send
						<svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 13.7552L7 7.75525L1 1.75525" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</button>
				</form>
			</div>
		</section>
	</div>
	
</Layout>