---
import Layout from '../layouts/Layout.astro';
import '../styles/digipom.css';
---

<Layout title="About - Digipom">
	<section class="px-4 py-3 lg:px-0 mb-14 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-center">
		<div class="flex flex-col w-[398px] md:items-center md:w-[732px]">
			<div class="font-bold md:text-app text-dpgreen mb-3">Who are we?</div>
			<div class="font-bold text-reallybig tracking-tight leading-normal mb-4">
				Welcome to <span class="text-dpgreen">Digipom</span>
			</div>
			<p class="text-dpdarkblue text-opacity-60 text-lg md:text-app md:text-center">
				We’re an independent development studio that was started in March 2012, and we’ve been creating fun, intuitive, and easy-to-use apps for mobile ever since.
			</p>
		</div>
	</section>
	
	<section class="px-4 py-3 lg:px-0 mb-32 lg:max-w-[1110px] lg:mx-auto md:flex">
		<div class="flex flex-col md:w-[1062px]">
			<div class="font-bold md:text-app text-dpgreen mb-3">Our motto and values</div>
			<div class="font-bold text-app md:text-reallybig tracking-tight leading-normal mb-4">
				We believe that a pleasant user experience is first and foremost.
			</div>
			<p class="text-dpdarkblue text-opacity-60 md:text-app">
				An app doesn’t have to have fancy graphics, but it should be easy to understand and easy to use. Ads are acceptable, but they should never be intrusive. Our goal is to treat our users with respect, and deliver value that exceeds their expectations.
			</p>
		</div>
	</section>
</Layout>
