---
import Layout from '../layouts/Layout.astro';
import '../styles/digipom.css';
---

<Layout title="Our Apps - Digipom">
	<section class="px-4 py-3 lg:px-0 mb-2 md:mb-14 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-center">
		<div class="flex flex-col sm:items-center">
			<div class="font-bold md:text-twentytwo text-dpgreen mb-3">Our apps</div>
			<div class="font-bold text-forty w-[359px] sm:w-full md:text-5xl sm:text-center tracking-tight leading-normal mb-4">
				Developing great apps is our passion
			</div>
			<p class="text-dpdarkblue text-opacity-60 text-lg md:text-twentytwo md:text-center md:w-[732px]">
				We truly do believe that there is a better way of doing things, and that people still care about quality.
			</p>
		</div>
	</section>
	
	<section class="px-4 py-3 lg:px-0 mb-12 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-between">
		<div class="md:w-[530px]">
			<h2 class="font-bold text-twentytwo lg:text-thirtyfour mb-4">Easy Voice Recorder</h2>
			<div class="text-dpdarkblue text-lg md:text-twentytwo text-opacity-60 mb-4">
				Your everyday companion to record important moments. Capture meetings, personal notes, classes, songs, and much more!
			</div>
			<img class="block md:hidden px-2 py-4 mx-auto" src="/images/phone-image1-homepage.png" alt="Easy Voice Recorder" />
			<div class="md:flex md:items-center md:gap-6">
				<a href="/easy-voice-recorder" class="transition flex items-center justify-center gap-3 border-2 border-dpgreen rounded hover:bg-dpgreen w-full md:w-40 py-4 font-semibold text-sm text-dpgreen hover:text-white mb-4 md:mb-0">
					Learn more
					<svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 13.7552L7 7.75525L1 1.75525" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
				<div class="flex items-center justify-center gap-2">
					<a href="https://apps.apple.com/us/app/easy-voice-recorder/id1222784166">
						<img src="/images/apple-badge.png" alt="Download Easy Voice Recorder on Apple App Store" />
					</a>
					<a href="https://play.google.com/store/apps/details?id=com.coffeebeanventures.easyvoicerecorder&hl=en_CA&gl=US">
						<img src="/images/google-play-badge.png" alt="Download Easy Voice Recorder on Google Play" />
					</a>
				</div>
			</div>
		</div>
		<div class="hidden md:inline-block md:pl-2">
			<img class="md:w-float-right" src="/images/phone-image1-homepage.png" alt="Easy Voice Recorder" />
		</div>
	</section>

	<section class="px-4 py-3 lg:px-0 mb-12 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-between">
		<div class="md:w-[530px]">
			<h2 class="font-bold text-twentytwo lg:text-thirtyfour mb-4">Night Filter</h2>
			<div class="text-dpdarkblue text-lg md:text-twentytwo text-opacity-60 mb-4">
				Night Filter makes it easy for you to dim your screen, adjust your color tint, and more! Use it to read at night with less eye strain and correct for an excessive screen tint.
			</div>
			<img class="block md:hidden px-2 py-3 mx-auto" src="/images/phone-image2-homepage.png" alt="Night Filter" />
			<div class="md:flex md:items-center md:gap-6">
				<a href="/night-filter" class="transition flex items-center justify-center gap-3 border-2 border-dpgreen rounded hover:bg-dpgreen w-full md:w-40 py-4 font-semibold text-sm text-dpgreen hover:text-white mb-4 md:mb-0">
					Learn more
					<svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 13.7552L7 7.75525L1 1.75525" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
				<div class="flex items-center justify-center gap-2">
					<a href="https://play.google.com/store/apps/details?id=com.digipom.nightfilter">
						<img src="/images/google-play-badge.png" alt="Download Night Filter on Google Play" />
					</a>
				</div>
			</div>
		</div>
		<div class="hidden md:inline-block md:pl-2">
			<img class="px-2 py-3 md:m-0 float-right" src="/images/phone-image2-homepage.png" alt="Night Filter" />
		</div>
	</section>
</Layout>
