---
import Layout from '../layouts/Layout.astro';
import { getCollection } from "astro:content";
const newsPosts = await getCollection("news");
import '../styles/digipom.css';
import { format } from 'date-fns';
---

<Layout title="News | Digipom">
    <section class="px-4 py-3 lg:px-0 md:mt-14 md:mb-16 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-between">
        <div class="font-bold text-forty md:text-5xl text-dpdarkblue tracking-tight dark:text-darkmodetext"><span class="text-dpgreen dark:text-darkmodedpgreen">Blog</span></div>
    </section>	

    <section class="px-4 py-3 lg:px-0 mb-8 md:text-twentytwo lg:max-w-[1110px] lg:mx-auto">		
        {
            newsPosts.sort((a, b) => new Date(b.data.publishedDate).valueOf() - new Date(a.data.publishedDate).valueOf()).map((post) => (
                <div class="flex items-center mb-10">					
                    <div class="w-full">
                        <div class="leading-none dark:text-darkmodetext">{post.data.title}</div>
                        <div class="text-dpdarkblue text-base text-opacity-60 mb-2 dark:text-darkmodetext">{format(new Date(post.data.publishedDate), 'MMMM d, yyyy')}</div>
                        <div class="text-dpdarkblue text-base text-opacity-60 line-clamp-2 dark:text-darkmodetext">{post.data.description}</div>
                        <a href={`/blog/${post.slug}`} class="text-dpgreen dark:text-darkmodedpgreen underline underline-offset-4 text-sm font-normal">Continue Reading</a>
                    </div>
                </div>
            ))
        }
    </section>
</Layout>