---
import Layout from '../layouts/Layout.astro';
import '../styles/digipom.css';
---

<Layout title="Contact Us - Digipom">
    <div class="md:bg-[url('/images/wavy-line.svg')] bg-[length:1469px_181.84px] bg-no-repeat bg-center">
        <section class="px-4 py-3 lg:px-0 md:mb-4 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-center">
            <div class="flex flex-col sm:items-center">
                <div class="font-bold md:text-twentytwo text-dpgreen mb-3 dark:text-darkmodedpgreen">Let’s have a chat</div>
                <div class="font-bold text-forty md:text-center md:mb-4 dark:text-darkmodetext">
                    An expert at your services
                </div>
            </div>
        </section>

        <section class="px-4 py-3 lg:px-0 mb-8 md:mb-44 lg:max-w-[1110px] lg:mx-auto md:flex md:items-start md:justify-center md:gap-20">
            <div class="md:max-w-[480px] text-dpdarkblue text-opacity-60 text-twentytwo mb-8 md:mb-0 dark:text-darkmodetext">For support with Easy Voice Recorder, please don’t use the form on this page but instead send us a request <strong>directly from inside the app</strong> by selecting the help menu option, as that will allow us to assist you better.</div>
            <div class="md:w-1/2 flex flex-col">
                <form action="https://formsubmit.co/formsubmit@breakthrough.software" method="POST">
                    <input type="hidden" name="_next" value="http://localhost:3000/contact-thanks">
                    <label class="mb-3 font-semibold text-dpdarkblue text-sm dark:text-darkmodetext" for="full_name">Full Name</label>
                    <input class="mb-5 w-full md:max-w-[537px] py-2 px-4 border rounded border-dpneutral-600 text-dpdarkblue" id="full_name" type="text" name="full_name" placeholder="John Smith" />
                    <label class="mb-3 font-semibold text-dpdarkblue text-sm dark:text-darkmodetext" for="email">Email</label>
                    <input class="mb-5 w-full md:max-w-[537px] py-2 px-4 border rounded border-dpneutral-600 text-dpdarkblue" id="email" type="email" name="email" placeholder="john.smith@email.com" required />
                    <label class="mb-3 font-semibold text-dpdarkblue text-sm dark:text-darkmodetext" for="phone_number">Phone number</label>
                    <input class="mb-5 w-full md:max-w-[537px] py-2 px-4 border rounded border-dpneutral-600 text-dpdarkblue" id="phone_number" name="phone_number" placeholder="(555) 555-5555" />
                    <label class="mb-3 font-semibold text-dpdarkblue text-sm dark:text-darkmodetext" for="message">Message</label>
                    <textarea class="mb-6 md:mb-10 w-full md:max-w-[537px] py-2 px-4 border rounded border-dpneutral-600 text-dpdarkblue" rows="6" id="message" name="message" placeholder="Hey, my name is John Smith. I just had a quick question..." required />
                    <button class="transition flex items-center justify-center gap-3 border-2 rounded border-dpgreen hover:border-dpdarkgreen bg-dpgreen hover:bg-dpdarkgreen w-full md:w-36 py-4 font-semibold text-sm text-white hover:text-white mb-4 md:mb-0 dark:border-darkmodedpgreen dark:bg-darkmodedpgreen dark:hover:bg-dpgreen dark:hover:border-dpgreen" type="submit">
                        Send
                        <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13.7552L7 7.75525L1 1.75525" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </form>
            </div>
        </section>

        <section class="px-4 py-3 lg:px-0 mb-14 lg:max-w-[1110px] lg:mx-auto flex flex-col md:items-center md:justify-center">
            <div class="font-bold text-thirtyfour text-center mb-4 dark:text-darkmodetext">
                App specific support
            </div>
            <div class="text-twentytwo text-dpdarkblue mb-3 dark:text-darkmodetext">Please visit Easy voice recorder <a class="text-dpgreen dark:text-darkmodedpgreen" href="/easy-voice-recorder-support">support page.</a></div>
        </section>
    </div>
</Layout>
