---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Message Sent | Breakthrough">

        <section class="px-4 py-3 lg:px-0 md:mb-4 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-center">
            <div class="flex flex-col sm:items-center">
            	<div class="font-bold md:text-twentytwo text-dpgreen mb-3 dark:text-darkmodeprimary">Connect Now</div>
                <div class="font-bold text-forty md:text-center md:mb-4 dark:text-darkmodetext">
                    Thank you for reaching out to Breakthrough Software!
                </div>
            </div>
        </section>

</Layout>