---
import Layout from '../layouts/Layout.astro';
import '../styles/digipom.css';
---

<Layout title="Do not sell my personal information - Digipom">
    <section class="px-4 mb-8 lg:px-0 lg:max-w-[1110px] lg:mx-auto">
        <h2 class="font-bold text-forty mb-3 dark:text-darkmodetext">Do not sell my personal information</h2>
    </section>
    <div class="text-dpdarkblue text-opacity-60 text-sm leading-6">
        <section class="px-2 mb-12 lg:px-0 lg:max-w-[1110px] lg:mx-auto">
            <div class="max-w-[826px] dark:text-darkmodetext">
                <p class="mb-4">
                    The California Consumer Privacy Act (CCPA), gives residents of the state of California the right to prevent businesses from selling their personal information.
                </p>
                <p class="mb-4">
                	Digipom takes your privacy very seriously. We do not sell your personal information.
                </p>
                <p class="mb-4">
                	However, we support the CCPA by allowing California residents to opt out of any future sale of their personal information.
                </p>
				<p class="mb-4">
					If you would like to record your preference that Digipom not sell your data in the future, please email <a href="mailto:privacy@digipom.com" class="text-dpgreen dark:text-darkmodedpgreen">privacy@digipom.com</a>.
				</p>
				<p class="mb-4">
					To learn what personal information Digipom collects and how we use it, please review our <a href="/privacy" class="text-dpgreen dark:text-darkmodedpgreen">Privacy Policy</a>.
				</p>
            </div>
        </section>
    </div>
</Layout>
