---
import Layout from '../layouts/Layout.astro';
import '../styles/digipom.css';
---

<Layout title="Easy Voice Recorder - Digipom">
	<section class="px-4 py-3 lg:px-0 mb-14 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-center">
		<div class="flex flex-col md:items-center md:max-w-[823px] text-center">
			<div class="px-4 sm:p-0 font-bold text-forty md:text-5xl tracking-tight md:leading-normal mb-4 dark:text-darkmodetext">
                Your <span class="text-dpgreen dark:text-darkmodedpgreen">everyday</span> companion to record important moments. 
			</div>
			<p class="text-dpdarkblue text-lg md:text-twentytwo md:text-center mb-6 dark:text-darkmodetext">
				Capture meetings, personal notes, classes, songs, and much more!
			</p>
            <div class="flex items-center justify-center gap-2 mb-10">
                <a href="https://apps.apple.com/us/app/easy-voice-recorder/id1222784166">
                    <img class="apple-badge" src="/images/appstore-lrg.svg" alt="Easy Voice Recorder on Apple App Store" />
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.coffeebeanventures.easyvoicerecorder&hl=en_CA&gl=US">
                    <img class="play-badge" src="/images/en_badge_web_generic.png" alt="Easy Voice Recorder on Google Play" />
                </a>
            </div>
            <div class="flex items-center justify-center">
                <img class="w-[189.96px] h-[404.25px] md:w-[257.73px] md:h-[548.47px]" src="/images/App1.png" alt="Easy Voice Recorder" />
                <img class="w-[189.96px] h-[404.25px] md:w-[257.73px] md:h-[548.47px]" src="/images/App1.1.png" alt="Easy Voice Recorder" />
            </div>
		</div>
	</section>

    <section class="px-4 py-3 lg:px-0 mb-2 md:mb-16 lg:max-w-[1110px] lg:mx-auto md:flex md:justify-between">
        <div class="max-w-[350px] mx-auto md:mx-0 grid justify-items-center grid-cols-1 content-start text-center mb-10 md:mb-0">
            <img class="h-[264.47px]" src="/images/Student.png" alt="For Students" />
            <div class="mt-10 mb-2 text-thirtytwo text-dpgreen font-medium dark:text-darkmodedpgreen">For students</div>
            <p class="text-lg text-dpdarkblue dark:text-darkmodetext">
                Record classes and and lectures with clear quality, even when the teacher is not right in front of you. Speed up or slow down playback to listen at a comfortable pace.
            </p>
        </div>
        <div class="max-w-[350px] mx-auto md:mx-0 grid justify-items-center grid-cols-1 content-start text-center mb-10 md:mb-0">
            <img class="h-[264.47px]" src="/images/business.png" alt="For Business" />
            <div class="mt-10 mb-2 text-thirtytwo text-dpgreen font-medium dark:text-darkmodedpgreen">For business</div>
            <p class="text-lg text-dpdarkblue dark:text-darkmodetext">
                Capture interviews and meetings from your phone, tablet, or smart watch, then share them with your colleagues through email or your favourite messaging app. 
            </p>
        </div>
        <div class="max-w-[350px] mx-auto md:mx-0 grid justify-items-center grid-cols-1 content-start text-center mb-10 md:mb-0">
            <img class="h-[264.47px]" src="/images/musicians.png" alt="For Musicians" />
            <div class="mt-10 mb-2 text-thirtytwo text-dpgreen font-medium dark:text-darkmodedpgreen">For musicians</div>
            <p class="text-lg text-dpdarkblue dark:text-darkmodetext">
                With many options to fine-tune the recording, the app is great for rehearsals and for capturing melodies that pop into your head. 
            </p>
        </div>
    </section>

    <section class="px-4 py-3 lg:px-0 mb-2 md:mb-14 lg:max-w-[1110px] lg:mx-auto md:flex md:flex-col md:items-center md:justify-center">
        <div class="font-bold text-thirtyfour text-dpdarkblue tracking-tight mb-4 md:mb-10 text-center dark:text-darkmodetext">Take a look at the <span class="text-dpgreen dark:text-darkmodedpgreen">features</span></div>
        <div class="flex items-start">
            <div class="hidden md:block md:w-1/2"><img class="float-left w-[355px] h-[755.47px]" src="/images/App1.png" alt="Easy Voice Recorder" /></div>
            <div class="md:w-1/2">
                <svg width="67" height="65" viewBox="0 0 67 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 15.3982C0 7.11392 6.71573 0.398193 15 0.398193H52C60.2843 0.398193 67 7.11392 67 15.3982V49.3982C67 57.6825 60.2843 64.3982 52 64.3982H15C6.71573 64.3982 0 57.6825 0 49.3982V15.3982Z" fill="#FEDBFF"/>
                    <path d="M38.7495 20.1482C38.7495 17.2487 36.399 14.8982 33.4995 14.8982C30.6 14.8982 28.2495 17.2487 28.2495 20.1482V30.6482C28.2495 33.5477 30.6 35.8982 33.4995 35.8982C36.399 35.8982 38.7495 33.5477 38.7495 30.6482V20.1482Z" stroke="#BC5CBE" stroke-width="2"/>
                    <path d="M21.25 28.8982V30.6482C21.25 37.4137 26.7345 42.8982 33.5 42.8982C40.2655 42.8982 45.75 37.4137 45.75 30.6482V28.8982" stroke="#BC5CBE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M33.4995 42.8982V49.8982M33.4995 49.8982H28.2495M33.4995 49.8982H38.7495" stroke="#BC5CBE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <div class="my-4 font-bold text-thirtytwo dark:text-darkmodetext">High quality recording</div>
                <div class="mb-14 text-twentytwo text-dpneutral-400 leading-normal dark:text-darkmodetext">Record to high-quality PCM and MP4, or use AMR to save space.</div>

                <svg width="67" height="65" viewBox="0 0 67 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 15.3982C0 7.11392 6.71573 0.398193 15 0.398193H52C60.2843 0.398193 67 7.11392 67 15.3982V49.3982C67 57.6825 60.2843 64.3982 52 64.3982H15C6.71573 64.3982 0 57.6825 0 49.3982V15.3982Z" fill="#B9EEFF"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.1599 21.217C34.0443 22.3325 34.0443 24.1412 35.1599 25.2568L40.6419 30.739C41.7575 31.8546 43.5663 31.8546 44.6818 30.739L50.164 25.2568C51.2794 24.1412 51.2794 22.3325 50.164 21.217L44.6818 15.7349C43.5663 14.6193 41.7575 14.6193 40.6419 15.7349L35.1599 21.217ZM41.9887 17.0815L36.5065 22.5636C36.1346 22.9354 36.1346 23.5383 36.5065 23.9102L41.9887 29.3924C42.3604 29.7641 42.9633 29.7641 43.3353 29.3924L48.8172 23.9102C49.1891 23.5383 49.1891 22.9354 48.8172 22.5636L43.3353 17.0815C42.9633 16.7096 42.3604 16.7096 41.9887 17.0815Z" fill="#49869A"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16 19.4281C16 17.3246 17.7052 15.6194 19.8088 15.6194H27.4263C29.5299 15.6194 31.2351 17.3246 31.2351 19.4281V27.0457C31.2351 29.1492 29.5299 30.8544 27.4263 30.8544H19.8088C17.7052 30.8544 16 29.1492 16 27.0457V19.4281ZM17.9044 19.4281C17.9044 18.3764 18.757 17.5238 19.8088 17.5238H27.4263C28.4781 17.5238 29.3307 18.3764 29.3307 19.4281V27.0457C29.3307 28.0974 28.4781 28.95 27.4263 28.95H19.8088C18.757 28.95 17.9044 28.0974 17.9044 27.0457V19.4281Z" fill="#49869A"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8088 34.6631C17.7052 34.6631 16 36.3685 16 38.4719V46.0894C16 48.193 17.7052 49.8982 19.8088 49.8982H27.4263C29.5299 49.8982 31.2351 48.193 31.2351 46.0894V38.4719C31.2351 36.3685 29.5299 34.6631 27.4263 34.6631H19.8088ZM29.3307 38.4719C29.3307 37.4201 28.4781 36.5675 27.4263 36.5675H19.8088C18.757 36.5675 17.9044 37.4201 17.9044 38.4719V46.0894C17.9044 47.1412 18.757 47.9938 19.8088 47.9938H27.4263C28.4781 47.9938 29.3307 47.1412 29.3307 46.0894V38.4719Z" fill="#49869A"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M38.8527 34.6631C36.7491 34.6631 35.0439 36.3685 35.0439 38.4719V46.0894C35.0439 48.193 36.7491 49.8982 38.8527 49.8982H46.4702C48.5738 49.8982 50.279 48.193 50.279 46.0894V38.4719C50.279 36.3685 48.5738 34.6631 46.4702 34.6631H38.8527ZM48.3746 38.4719C48.3746 37.4201 47.522 36.5675 46.4702 36.5675H38.8527C37.8009 36.5675 36.9483 37.4201 36.9483 38.4719V46.0894C36.9483 47.1412 37.8009 47.9938 38.8527 47.9938H46.4702C47.522 47.9938 48.3746 47.1412 48.3746 46.0894V38.4719Z" fill="#49869A"/>
                </svg>
                <div class="my-4 font-bold text-thirtytwo dark:text-darkmodetext">Practical widgets</div>
                <div class="mb-14 text-twentytwo text-dpneutral-400 leading-normal dark:text-darkmodetext">Quickly start a new recording with widgets and shortcuts, and record in the background.</div>
                
                <svg width="67" height="65" viewBox="0 0 67 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 15.3982C0 7.11392 6.71573 0.398193 15 0.398193H52C60.2843 0.398193 67 7.11392 67 15.3982V49.3982C67 57.6825 60.2843 64.3982 52 64.3982H15C6.71573 64.3982 0 57.6825 0 49.3982V15.3982Z" fill="#C3F6BF"/>
                    <path d="M29.4512 36.9632C28.0802 38.7478 25.9244 39.8982 23.5 39.8982C19.3579 39.8982 16 36.5403 16 32.3982C16 28.2561 19.3579 24.8982 23.5 24.8982C25.9244 24.8982 28.0802 26.0485 29.4512 27.8332L38.7516 22.9095C38.5878 22.3508 38.5 21.7598 38.5 21.1482C38.5 17.6964 41.2982 14.8982 44.75 14.8982C48.2018 14.8982 51 17.6964 51 21.1482C51 24.6 48.2018 27.3982 44.75 27.3982C42.8058 27.3982 41.0689 26.5105 39.9226 25.1182L30.6224 30.0419C30.8674 30.7829 31 31.5751 31 32.3982C31 33.2213 30.8674 34.0135 30.6224 34.7545L39.9226 39.6782C41.0689 38.2859 42.8058 37.3982 44.75 37.3982C48.2018 37.3982 51 40.1964 51 43.6482C51 47.1 48.2018 49.8982 44.75 49.8982C41.2982 49.8982 38.5 47.1 38.5 43.6482C38.5 43.0366 38.5878 42.4456 38.7516 41.8869L29.4512 36.9632ZM23.5 37.3982C26.2614 37.3982 28.5 35.1596 28.5 32.3982C28.5 29.6368 26.2614 27.3982 23.5 27.3982C20.7386 27.3982 18.5 29.6368 18.5 32.3982C18.5 35.1596 20.7386 37.3982 23.5 37.3982ZM44.75 47.3982C46.8211 47.3982 48.5 45.7193 48.5 43.6482C48.5 41.5771 46.8211 39.8982 44.75 39.8982C42.6789 39.8982 41 41.5771 41 43.6482C41 45.7193 42.6789 47.3982 44.75 47.3982ZM44.75 24.8982C46.8211 24.8982 48.5 23.2193 48.5 21.1482C48.5 19.0771 46.8211 17.3982 44.75 17.3982C42.6789 17.3982 41 19.0771 41 21.1482C41 23.2193 42.6789 24.8982 44.75 24.8982Z" fill="#749771"/>
                </svg>
                <div class="my-4 font-bold text-thirtytwo dark:text-darkmodetext">Easy sharing</div>
                <div class="mb-14 text-twentytwo text-dpneutral-400 leading-normal dark:text-darkmodetext">Share recordings easily through email or your favourite app, or set one of them as ringtone.</div>

                <svg width="67" height="65" viewBox="0 0 67 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 15.3982C0 7.11392 6.71573 0.398193 15 0.398193H52C60.2843 0.398193 67 7.11392 67 15.3982V49.3982C67 57.6825 60.2843 64.3982 52 64.3982H15C6.71573 64.3982 0 57.6825 0 49.3982V15.3982Z" fill="#D6DAFF"/>
                    <path d="M40.2564 20.0992L19.5044 40.8778C19.2645 41.1165 19.419 41.5253 19.7574 41.5514L22.1826 41.7248C22.3897 41.7411 22.5507 41.9112 22.5507 42.1172V44.2788C22.5507 44.4684 22.6887 44.6352 22.876 44.6679L24.7688 45.0047C24.9594 45.0374 25.0942 45.2009 25.0942 45.3939V46.6431C25.0942 46.9963 25.5214 47.1729 25.7711 46.9211L46.4574 26.2732L40.2564 20.0992Z" stroke="#5F659B" stroke-width="2" stroke-miterlimit="10"/>
                    <path d="M50.9822 21.6327C51.4586 21.188 51.4784 20.4424 51.0249 19.9748L46.6444 15.426C46.1975 14.9616 45.4549 14.9452 44.9849 15.39L42.54 17.666L48.6161 23.778L50.9822 21.6327Z" stroke="#5F659B" stroke-width="2" stroke-miterlimit="10"/>
                    <path d="M19.2613 44.7462C19.0477 44.5205 18.673 44.6088 18.581 44.9031L17.3652 48.7979C17.2699 49.102 17.5492 49.3898 17.8581 49.308L21.7719 48.2551C22.0676 48.1766 22.1695 47.8103 21.9592 47.5879L19.2613 44.7462Z" stroke="#5F659B" stroke-width="2" stroke-miterlimit="10"/>
                    <path d="M34.2559 42.4407L42.606 51.1426C43.158 51.7182 44.0749 51.7312 44.6434 51.172L51.7415 44.2099C52.31 43.6539 52.3297 42.7514 51.7842 42.1693L43.2008 33.536" stroke="#5F659B" stroke-width="2" stroke-miterlimit="10"/>
                    <path d="M45.1167 45.3186L49.875 40.5834" stroke="#5F659B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M43.769 40.7499L46.9468 37.5877" stroke="#5F659B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M38.5576 39.4353L43.5854 34.4319" stroke="#5F659B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M24.0063 32.0515L15.2619 23.742C14.6835 23.1926 14.6704 22.2802 15.2323 21.7145L22.2285 14.6509C22.7872 14.0852 23.6941 14.0656 24.2791 14.6084L32.9545 23.1501" stroke="#5F659B" stroke-width="2" stroke-miterlimit="10"/>
                    <path d="M21.1182 21.2437L25.8732 16.5085" stroke="#5F659B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M25.7056 22.5843L28.8833 19.4221" stroke="#5F659B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                    <path d="M27.0264 27.7708L32.0542 22.7675" stroke="#5F659B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                </svg>
                <div class="my-4 font-bold text-thirtytwo dark:text-darkmodetext">Customizable</div>
                <div class="mb-14 text-twentytwo text-dpneutral-400 leading-normal dark:text-darkmodetext">Light and dark themes, and many other cool features.</div>
            </div>
        </div>
    </section>

    <section class="px-4 py-3 lg:px-0 mb-6 md:mb-14 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-center">
		<div class="flex flex-col md:items-center text-center">
			<div class="font-semibold text-thirtyfour tracking-tight md:leading-normal mb-6 dark:text-darkmodetext">
                Want more? <span class="text-dpgreen dark:text-darkmodedpgreen">upgrade to Pro</span>
			</div>
            <div class="text-twentytwo text-dpdarkblue mb-6 dark:text-darkmodetext">The Pro version also includes the following features (available on supported devices):</div>
            <div class="md:w-[748px] text-left text-twentytwo text-dpneutral-400 dark:text-darkmodetext">
                <div class="flex items-start mb-6">
                    <img class="w-[30.18px] h-[28.82px] mr-2" src="/images/yellow-star.png" alt="star" />
                    Upload new recordings automatically to your Google Drive, Dropbox or Microsoft OneDrive
                </div>
                <div class="flex items-start mb-6">
                    <img class="w-[30.18px] h-[28.82px] mr-2" src="/images/yellow-star.png" alt="star" />
                    Record to MP3, FLAC and AAC, in addition to all the formats available in the free version
                </div>
                <div class="flex items-start mb-6">
                    <img class="w-[30.18px] h-[28.82px] mr-2" src="/images/yellow-star.png" alt="star" />
                    Record using a Bluetooth microphone
                </div>
                <div class="flex items-start mb-6">
                    <img class="w-[30.18px] h-[28.82px] mr-2" src="/images/yellow-star.png" alt="star" />
                    Trim recordings and remove unwanted sections with Edit mode
                </div>
                <div class="flex items-start mb-6">
                    <img class="w-[30.18px] h-[28.82px] mr-2" src="/images/yellow-star.png" alt="star" />
                    Manage and organize your recordings with folders
                </div>
                <div class="flex items-start mb-10">
                    <img class="w-[30.18px] h-[28.82px] mr-2" src="/images/yellow-star.png" alt="star" />
                    Control the recorder from anywhere using the notifications bar
                </div>

                <div class="mb-6">
                    <strong>Bonus features:</strong><br>
                    Record in stereo, import files, skip silence, volume boost, custom bitrates, and more.
                </div>
            </div>
		</div>
	</section>

    <section class="px-4 py-3 lg:px-0 mb-4 md:mb-8 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-center">
		<div class="flex flex-col md:items-center text-center">
			<div class="font-bold text-thirtyfour tracking-tight md:leading-normal mb-4 dark:text-darkmodetext">
                Support information
			</div>
            <div class="text-twentytwo text-dpdarkblue mb-6 dark:text-darkmodetext">Please visit Easy voice recorder <a href="/easy-voice-recorder-support" class="text-dpgreen dark:text-darkmodedpgreen">support page.</a></div>
		</div>
	</section>

    <section class="px-4 py-3 lg:px-0 mb-6 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-center">
		<div class="flex flex-col md:items-center text-center">
			<div class="font-bold text-thirtyfour tracking-tight md:leading-normal mb-4 dark:text-darkmodetext">
                Try it now
			</div>
            <div class="flex items-center justify-center gap-2 mb-10">
                <a href="https://apps.apple.com/us/app/easy-voice-recorder/id1222784166">
                    <img class="apple-badge" src="/images/appstore-lrg.svg" alt="Download Easy Voice Recorder on Apple App Store" />
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.coffeebeanventures.easyvoicerecorder&hl=en_CA&gl=US">
                    <img class="play-badge" src="/images/en_badge_web_generic.png" alt="Download Easy Voice Recorder on Google Play" />
                </a>
            </div>
		</div>
	</section>
</Layout>
