---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Breakthrough Software">
	<section class="px-4 py-3 lg:px-0 mb-12 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-between">
		<div class="md:w-[593px]">
			<div class="font-bold text-5xl tracking-tight dark:text-darkmodetext leading-normal mb-4">
				We create handcrafted apps that send you to the moon.
			</div>
			<div class="text-dpdarkblue dark:text-darkmodetext text-opacity-60 md:text-twentytwo mb-6 lg:mr-24">
				Independent dev shop with & for real people!
			</div>
		</div>
	</section>

</Layout>