---
import Layout from '../layouts/Layout.astro';
import '../styles/digipom.css';
---

<Layout title="Night Filter - Digipom">
	<section class="px-4 py-3 lg:px-0 mb-20 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-center">
		<div class="flex flex-col items-center md:max-w-[946px] text-center">
			<div class="px-4 sm:p-0 font-bold text-forty md:text-5xl tracking-tight md:leading-normal mb-4">
                Night Filter is an <span class="text-dpgreen">easy to use screen</span> filter app for your Android phone or tablet
			</div>
			<p class="md:w-[700.71px] text-dpdarkblue text-lg md:text-twentytwo md:text-center mb-10">
				Night Filter makes it easy for you to dim your screen, adjust your color tint and filter blue light, and more!
			</p>
            <div class="flex items-center justify-center gap-2 mb-10">
                <a href="https://play.google.com/store/apps/details?id=com.digipom.nightfilter">
                    <img class="play-badge" src="/images/en_badge_web_generic.png" alt="Night Filter on Google Play Badge" />
                </a>
            </div>
            <div class="flex items-center justify-center gap-4">
                <img class="w-[189.96px] h-[404.25px] md:w-[255.55px] md:h-[543.82px]" src="/images/Night-Filter-1.png" alt="Easy Voice Recorder" />
                <img class="w-[189.96px] h-[404.25px] md:w-[255.55px] md:h-[543.82px]" src="/images/Night-Filter-2.png" alt="Easy Voice Recorder" />
            </div>
		</div>
	</section>

    <section class="px-4 py-3 lg:px-0 mb-2 md:mb-16 lg:max-w-[1110px] lg:mx-auto md:flex md:justify-between">
        <div class="max-w-[350px] mx-auto md:mx-0 grid justify-items-center grid-cols-1 content-start text-center mb-10 md:mb-0">
            <svg width="67" height="64" viewBox="0 0 67 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 15C0 6.71573 6.71573 0 15 0H52C60.2843 0 67 6.71573 67 15V49C67 57.2843 60.2843 64 52 64H15C6.71573 64 0 57.2843 0 49V15Z" fill="#FEDBFF"/>
                <path d="M32.25 14.5H34.75V18.25H32.25V14.5Z" fill="#BC5CBE"/>
                <path d="M47.25 30.75H51V33.25H47.25V30.75Z" fill="#BC5CBE"/>
                <path d="M32.25 45.75H34.75V49.5H32.25V45.75Z" fill="#BC5CBE"/>
                <path d="M16 30.75H19.75V33.25H16V30.75Z" fill="#BC5CBE"/>
                <path d="M20.312 20.6045L22.0798 18.8367L24.7314 21.4884L22.9637 23.2561L20.312 20.6045Z" fill="#BC5CBE"/>
                <path d="M42.2495 21.4762L44.9012 18.8245L46.6689 20.5923L44.0173 23.244L42.2495 21.4762Z" fill="#BC5CBE"/>
                <path d="M42.2534 42.5206L44.0212 40.7529L46.6728 43.4045L44.9051 45.1723L42.2534 42.5206Z" fill="#BC5CBE"/>
                <path d="M20.3374 43.4125L22.9874 40.75L24.7499 42.525L22.0999 45.175L20.3374 43.4125Z" fill="#BC5CBE"/>
                <path d="M33.5 22C31.5222 22 29.5888 22.5865 27.9443 23.6853C26.2998 24.7841 25.0181 26.3459 24.2612 28.1732C23.5043 30.0004 23.3063 32.0111 23.6922 33.9509C24.078 35.8907 25.0304 37.6725 26.4289 39.0711C27.8275 40.4696 29.6093 41.422 31.5491 41.8079C33.4889 42.1937 35.4996 41.9957 37.3268 41.2388C39.1541 40.4819 40.7159 39.2002 41.8147 37.5557C42.9135 35.9112 43.5 33.9778 43.5 32C43.5 29.3478 42.4464 26.8043 40.5711 24.9289C38.6957 23.0536 36.1522 22 33.5 22ZM33.5 39.5C31.5109 39.5 29.6032 38.7098 28.1967 37.3033C26.7902 35.8968 26 33.9891 26 32C26 30.0109 26.7902 28.1032 28.1967 26.6967C29.6032 25.2902 31.5109 24.5 33.5 24.5V39.5Z" fill="#BC5CBE"/>
            </svg>
            <p class="pt-6 text-twentytwo md:text-thirtytwo text-dpdarkblue">Adjust screen brightness and color</p>
        </div>
        <div class="max-w-[350px] mx-auto md:mx-0 grid justify-items-center grid-cols-1 content-start text-center mb-10 md:mb-0">
            <svg width="67" height="64" viewBox="0 0 67 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 15C0 6.71573 6.71573 0 15 0H52C60.2843 0 67 6.71573 67 15V49C67 57.2843 60.2843 64 52 64H15C6.71573 64 0 57.2843 0 49V15Z" fill="#B9EEFF"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M35.1599 20.8188C34.0443 21.9344 34.0443 23.743 35.1599 24.8586L40.6419 30.3408C41.7575 31.4564 43.5663 31.4564 44.6818 30.3408L50.164 24.8586C51.2794 23.743 51.2794 21.9344 50.164 20.8188L44.6818 15.3367C43.5663 14.2211 41.7575 14.2211 40.6419 15.3367L35.1599 20.8188ZM41.9887 16.6833L36.5065 22.1654C36.1346 22.5372 36.1346 23.1402 36.5065 23.512L41.9887 28.9942C42.3604 29.3659 42.9633 29.3659 43.3353 28.9942L48.8172 23.512C49.1891 23.1402 49.1891 22.5372 48.8172 22.1654L43.3353 16.6833C42.9633 16.3114 42.3604 16.3114 41.9887 16.6833Z" fill="#49869A"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 19.03C16 16.9264 17.7052 15.2212 19.8088 15.2212H27.4263C29.5299 15.2212 31.2351 16.9264 31.2351 19.03V26.6475C31.2351 28.751 29.5299 30.4562 27.4263 30.4562H19.8088C17.7052 30.4562 16 28.751 16 26.6475V19.03ZM17.9044 19.03C17.9044 17.9782 18.757 17.1256 19.8088 17.1256H27.4263C28.4781 17.1256 29.3307 17.9782 29.3307 19.03V26.6475C29.3307 27.6993 28.4781 28.5518 27.4263 28.5518H19.8088C18.757 28.5518 17.9044 27.6993 17.9044 26.6475V19.03Z" fill="#49869A"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8088 34.2649C17.7052 34.2649 16 35.9703 16 38.0737V45.6912C16 47.7948 17.7052 49.5 19.8088 49.5H27.4263C29.5299 49.5 31.2351 47.7948 31.2351 45.6912V38.0737C31.2351 35.9703 29.5299 34.2649 27.4263 34.2649H19.8088ZM29.3307 38.0737C29.3307 37.0219 28.4781 36.1693 27.4263 36.1693H19.8088C18.757 36.1693 17.9044 37.0219 17.9044 38.0737V45.6912C17.9044 46.743 18.757 47.5956 19.8088 47.5956H27.4263C28.4781 47.5956 29.3307 46.743 29.3307 45.6912V38.0737Z" fill="#49869A"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M38.8527 34.2649C36.7491 34.2649 35.0439 35.9703 35.0439 38.0737V45.6912C35.0439 47.7948 36.7491 49.5 38.8527 49.5H46.4702C48.5738 49.5 50.279 47.7948 50.279 45.6912V38.0737C50.279 35.9703 48.5738 34.2649 46.4702 34.2649H38.8527ZM48.3746 38.0737C48.3746 37.0219 47.522 36.1693 46.4702 36.1693H38.8527C37.8009 36.1693 36.9483 37.0219 36.9483 38.0737V45.6912C36.9483 46.743 37.8009 47.5956 38.8527 47.5956H46.4702C47.522 47.5956 48.3746 46.743 48.3746 45.6912V38.0737Z" fill="#49869A"/>
            </svg>
            <p class="pt-6 text-twentytwo md:text-thirtytwo text-dpdarkblue">Add quick shortcuts to your home screen</p>
        </div>
        <div class="max-w-[350px] mx-auto md:mx-0 grid justify-items-center grid-cols-1 content-start text-center mb-10 md:mb-0">
            <svg width="67" height="64" viewBox="0 0 67 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 15C0 6.71573 6.71573 0 15 0H52C60.2843 0 67 6.71573 67 15V49C67 57.2843 60.2843 64 52 64H15C6.71573 64 0 57.2843 0 49V15Z" fill="#C3F6BF"/>
                <path d="M34.6312 20.2969H32.2979V33.2841L40.728 37.2908L41.7296 35.1833L34.6312 31.8096V20.2969Z" fill="#749771"/>
                <path d="M33.5 14.5C23.835 14.5 16 22.335 16 32C16 41.665 23.835 49.5 33.5 49.5C43.165 49.5 51 41.665 51 32C51 22.335 43.165 14.5 33.5 14.5ZM33.5 47.1667C25.1237 47.1667 18.3333 40.3763 18.3333 32C18.3333 23.6237 25.1237 16.8333 33.5 16.8333C41.8763 16.8333 48.6667 23.6237 48.6667 32C48.6667 40.3763 41.8763 47.1667 33.5 47.1667Z" fill="#749771"/>
            </svg>                
            <p class="pt-6 text-twentytwo md:text-thirtytwo text-dpdarkblue">Schedule the filter to start & stop at a specific time</p>
        </div>
    </section>

    <section class="px-4 py-3 lg:px-0 mb-6 md:mb-16 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-center">
		<div class="flex flex-col md:items-center text-center">
			<div class="font-extrabold text-thirtyfour tracking-tight md:leading-normal mb-10">
                Download the app and try it out to see all of the features
			</div>
            <div class="flex items-center justify-center gap-2 mb-10">
                <a href="https://play.google.com/store/apps/details?id=com.digipom.nightfilter">
                    <img class="play-badge" src="/images/en_badge_web_generic.png" alt="Night Filter on Google Play Badge" />
                </a>
            </div>
		</div>
	</section>

    <section class="px-4 py-3 lg:px-0 mb-4 md:mb-16 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-center">
		<div class="flex flex-col md:items-center text-center">
			<div class="font-extrabold text-thirtyfour tracking-tight md:leading-normal mb-4">
                Support information
			</div>
            <div class="text-twentytwo text-dpdarkblue mb-6">Please visit our <a href="/contact" class="text-dpgreen">contact page.</a></div>
		</div>
	</section>
</Layout>
