---
import Layout from '../layouts/Layout.astro';
import '../styles/digipom.css';
---

<Layout title="privacy">

    <section class="px-4 mb-8 lg:px-0 lg:max-w-[1110px] lg:mx-auto">
        <h2 class="font-bold text-reallybig mb-3">Privacy policy</h2>
        <h2 class="font-bold text-bigapp mb-6">Last updated: February 8, 2023</h2>
    </section>
	
    <section class="px-2 mb-12 lg:px-0 lg:max-w-[1110px] lg:mx-auto">
        <div class="max-w-[826px]">
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                This Privacy Policy (the “Policy”) explains who we are, how we collect, share and use Personal Data about you, and how you can exercise your privacy rights.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                We are Digipom Inc. (“Digipom”), a duly incorporated company in the province of Quebec, Canada. We are the creators of Easy Voice Recorder (“EVR”), Easy Voice Recorder Pro (“EVR Pro”), and more. It is the policy of Digipom to respect your privacy, and the privacy of all users of our applications and Services. This Policy applies to Personal Data that we collect through our mobile applications and other products (“Apps”) and websites we control, such as www.digipom.com (“Website”) (collectively “Services”). The Services are also governed by the Terms of Use. Digipom reserves the right, at any time and without prior notice, to modify the Policy.  
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Your privacy is very important to us and we want you to know everything we do and don’t do with the data you provide. Our guiding principle is that any data we collect from you will be treated with the utmost care and respect, and every effort will be made to ensure the data is kept private.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                If you have any questions about the Policy, please contact:<br>
                Digipom Legal and Privacy Services</br>
                <a class="text-dpgreen" href="mailto:privacy@digipom.com">privacy@digipom.com</a>
            </p>
        </div>
    </section>

    <section class="px-4 mb-12 lg:px-0 lg:max-w-[1110px] lg:mx-auto">
        <div class="max-w-[826px]">
            <h2 class="font-bold text-app lg:text-app mb-4">Compliance with privacy laws</h2>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Digipom is committed to complying with the privacy and data protection laws applicable to you. These include but are not limited to: (1) the “GDPR”, the European data protection law which stands for “General Data Protection Regulation”, with the official name Regulation (EU) 2016/679 of the European Parliament and of the Council; (2) “PIPEDA” (Personal Information Protection and Electronic Documents Act), which is the Canadian data protection law that applies to our activities in Canada; (3) the California Consumer Privacy Act (“CCPA”) which applies to our activities in the United States in certain circumstances; and (4) Brazil’s Lei Geral de Proteção de Dados (“LGPD”).
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Under applicable law, Digipom Inc. is the “data controller” of Personal Data collected through the Services. “Personal Data” is any data that identifies, relates to, describes, is capable of being associated with, or could reasonably be linked, directly or indirectly, with an identified or identifiable natural person, or a specific household. For the purposes of this Policy, “Personal Data” is equivalent to “Personal Information” as defined in the CCPA and PIPEDA.
            </p>
        </div>
    </section>

    <section class="px-4 mb-12 lg:px-0 lg:max-w-[1110px] lg:mx-auto">
        <div class="max-w-[826px]">
            <h2 class="font-bold text-app lg:text-app mb-4">What personal data does Digipom collect?</h2>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                The Personal Data we may collect about you through the Services falls into the general categories described below. Please see further in the section “Categories of Personal Data Collected under the CCPA”.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Information that you provide voluntarily</strong><br>
                Certain parts of our Services may ask you to provide Personal Data voluntarily. For example, we may ask for certain information in order to use features in our Apps, register an account with us, subscribe to marketing communications from us, and/or to submit enquiries to us, such as:<br>
                &bull; your name, email address or other contact details.<br>
                &bull; any information you submit to our customer service team in the App or via email.<br>
                The Personal Data that you are asked to provide, and the reasons why you are asked to provide it, will be explained to you when we ask you to provide your Personal Data.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Information we collect automatically</strong><br>
                When you use our Services, we may also collect certain information automatically from you and/or your device which may be considered Personal Data under applicable data protection laws, such as:<br>
                <br>&bull; Data and analytics about your use of our Services (e.g. in-app usage, session length, preferred settings, which in-app advertisements you may have viewed, crash reports, and the means by which you were referred to our Services).<br>
                &bull; Your IP address, device identifiers such as your Advertising ID, other device information, and your general geographic location (e.g. country or city location) based on your IP address.<br>
                <br>“Advertising ID” includes the Apple Identifier for Advertisers (“IDFA”) on Apple, and the Google Advertising Identity (“GAID”) on Android. These are unique identifiers for mobile devices that advertisers use for interest-based advertising. They are consistent across all apps and thus allow tracking across apps. These identifiers can be reset from the device’s settings. On Apple, you can opt out by choosing the “limit ad tracking” option in the privacy settings. On Android, you can opt out by choosing “Opt out of interest based ads.”<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Advertising IDs are non-permanent, non-personal identifiers uniquely associated with your device. Similar technologies include tracking pixels within ads. These technologies allow companies (including marketers and advertisers) to recognize your device when you use websites and applications.<br>
            </p>    
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                “Device information” means device type, model, manufacturer, operating system and language, or other technical data like supported application programming interfaces (“APIs”), screen size, processor, or a combination of this data, available from a device for a developer to check the device’s compatibility with a particular application.<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Some of this information may be collected using cookies and/or similar technologies, such as software development kits (“SDKs”). The Services may use cookies and other technologies such as pixel tags, local shared objects, hardware-based device identifiers, flash cookies, operating system-based identifiers, clear GIFs and web beacons. Cookies are pieces of data that sites and services can set on your browser or device that can be read on future visits. We may expand our use of cookies to save additional data as new features are added to our Services. However, you can disable cookies by changing your browser settings. Further information about how to disable cookies can be found on your Internet browser provider’s help screen.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Information we obtain from third party sources</strong><br>
                (a) Third party service providers.<br>
                We may receive Personal Data about you from third-party sources. We may obtain your Personal Data, for example, when you installed our App or when, prior to installation, you click on an advertisement for the App (see the “Third-Party Advertisements” section below for more information).<br>
            </p>    
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                In order to better understand our users of the Services, we may conduct research on our customer demographics, interests and behavior based on the information collected. This research may be compiled and analyzed on an aggregate basis, and we may share this aggregate data with our affiliates, agents and business partners. We may also disclose aggregated user statistics in order to describe our services to current and prospective business partners, and to other third parties for other lawful purposes.<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Digipom may use Google Analytics (see http://www.google.com/analytics/), Google Firebase Analytics (see https://firebase.google.com/features/analytics/), Firebase Crashlytics (see https://firebase.google.com/docs/crashlytics) or other similar services to collect such information.<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                The Application makes use of Google Analytics Demographics and Interest Reporting (see https://support.google.com/analytics/answer/2799357) which gives Digipom certain demographic and interest information about our Application users. None of this information, however, can identify you personally to Digipom. The information may be used to serve you advertisements that will be of interest to you. You can disable this feature through your Android settings of your Device or the Google Settings App. You can also opt out of such Google advertising at any time by visiting your Google Ads Settings page (see https://www.google.com/settings/ads).<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                (b) Advertising partners.<br>
                From time to time, we may also receive Personal Data about you from other third-party sources. For example, if you clicked on an advertisement directing you to one of our Services (such as an ad for one of our Apps in another publishers’ app), we will be provided with Data about which ad network and advertising campaign the install originated from. Please see the Advertising section below for more information.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Categories of Personal Data Collected under the CCPA</strong><br>
                We collect the following categories of Personal Data as defined in the CCPA, and have done so in the past 12 months:<br>
                1. Identifiers (your name, email or other contact information, when provided);<br>
                2. Internet or other electronic network activity information on our Internet Web sites and applications, including, but not limited to, browsing history, search history, and information regarding your interaction with an Internet Web site, application, or advertisement; and<br>
                3. Geolocation data.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>What we don’t collect</strong><br>
                Under no circumstances does Digipom collect, download or otherwise make copies of any recordings you make using any of our apps (hereinafter “Recordings”) and any reference to Personal Data in the present Policy does not include Recordings, or any Personal Data about you or any third party included in the Recordings. Notwithstanding the foregoing, you may make copies of Recordings via application or operating system features (such as the share menu or via file system access), and/or by uploading them to various cloud services such as Dropbox, Google Drive and iCloud. However, Digipom has no access whatsoever to these copies and therefore any Personal Data about you or any third party contained in the copies of Recordings is also not covered by this Policy.
            </p>

        </div>
    </section>

</Layout>
