---
import Layout from '../layouts/Layout.astro';
import '../styles/digipom.css';
---

<Layout title="privacy">

    <section class="px-4 mb-8 lg:px-0 lg:max-w-[1110px] lg:mx-auto">
        <h2 class="font-bold text-reallybig mb-3">Privacy policy</h2>
        <h2 class="font-bold text-bigapp mb-6">Last updated: February 8, 2023</h2>
    </section>
	
    <section class="px-2 mb-12 lg:px-0 lg:max-w-[1110px] lg:mx-auto">
        <div class="max-w-[826px]">
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                This Privacy Policy (the “Policy”) explains who we are, how we collect, share and use Personal Data about you, and how you can exercise your privacy rights.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                We are Digipom Inc. (“Digipom”), a duly incorporated company in the province of Quebec, Canada. We are the creators of Easy Voice Recorder (“EVR”), Easy Voice Recorder Pro (“EVR Pro”), and more. It is the policy of Digipom to respect your privacy, and the privacy of all users of our applications and Services. This Policy applies to Personal Data that we collect through our mobile applications and other products (“Apps”) and websites we control, such as www.digipom.com (“Website”) (collectively “Services”). The Services are also governed by the Terms of Use. Digipom reserves the right, at any time and without prior notice, to modify the Policy.  
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Your privacy is very important to us and we want you to know everything we do and don’t do with the data you provide. Our guiding principle is that any data we collect from you will be treated with the utmost care and respect, and every effort will be made to ensure the data is kept private.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                If you have any questions about the Policy, please contact:<br>
                Digipom Legal and Privacy Services</br>
                <a class="text-dpgreen" href="mailto:privacy@digipom.com">privacy@digipom.com</a>
            </p>
        </div>
    </section>

    <section class="px-4 mb-12 lg:px-0 lg:max-w-[1110px] lg:mx-auto">
        <div class="max-w-[826px]">
            <h2 class="font-bold text-app lg:text-app mb-4">Compliance with privacy laws</h2>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Digipom is committed to complying with the privacy and data protection laws applicable to you. These include but are not limited to: (1) the “GDPR”, the European data protection law which stands for “General Data Protection Regulation”, with the official name Regulation (EU) 2016/679 of the European Parliament and of the Council; (2) “PIPEDA” (Personal Information Protection and Electronic Documents Act), which is the Canadian data protection law that applies to our activities in Canada; (3) the California Consumer Privacy Act (“CCPA”) which applies to our activities in the United States in certain circumstances; and (4) Brazil’s Lei Geral de Proteção de Dados (“LGPD”).
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Under applicable law, Digipom Inc. is the “data controller” of Personal Data collected through the Services. “Personal Data” is any data that identifies, relates to, describes, is capable of being associated with, or could reasonably be linked, directly or indirectly, with an identified or identifiable natural person, or a specific household. For the purposes of this Policy, “Personal Data” is equivalent to “Personal Information” as defined in the CCPA and PIPEDA.
            </p>
        </div>
    </section>

    <section class="px-4 mb-12 lg:px-0 lg:max-w-[1110px] lg:mx-auto">
        <div class="max-w-[826px]">
            <h2 class="font-bold text-app lg:text-app mb-4">What personal data does Digipom collect?</h2>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                The Personal Data we may collect about you through the Services falls into the general categories described below. Please see further in the section “Categories of Personal Data Collected under the CCPA”.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Information that you provide voluntarily</strong><br>
                Certain parts of our Services may ask you to provide Personal Data voluntarily. For example, we may ask for certain information in order to use features in our Apps, register an account with us, subscribe to marketing communications from us, and/or to submit enquiries to us, such as:<br>
                &nbsp;&nbsp;&bull; your name, email address or other contact details.<br>
                &nbsp;&nbsp;&bull; any information you submit to our customer service team in the App or via email.<br>
                The Personal Data that you are asked to provide, and the reasons why you are asked to provide it, will be explained to you when we ask you to provide your Personal Data.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Information we collect automatically</strong><br>
                When you use our Services, we may also collect certain information automatically from you and/or your device which may be considered Personal Data under applicable data protection laws, such as:<br>
                <br>&nbsp;&nbsp;&bull; Data and analytics about your use of our Services (e.g. in-app usage, session length, preferred settings, which in-app advertisements you may have viewed, crash reports, and the means by which you were referred to our Services).<br>
                &nbsp;&nbsp;&bull; Your IP address, device identifiers such as your Advertising ID, other device information, and your general geographic location (e.g. country or city location) based on your IP address.<br>
                <br>“Advertising ID” includes the Apple Identifier for Advertisers (“IDFA”) on Apple, and the Google Advertising Identity (“GAID”) on Android. These are unique identifiers for mobile devices that advertisers use for interest-based advertising. They are consistent across all apps and thus allow tracking across apps. These identifiers can be reset from the device’s settings. On Apple, you can opt out by choosing the “limit ad tracking” option in the privacy settings. On Android, you can opt out by choosing “Opt out of interest based ads.”<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Advertising IDs are non-permanent, non-personal identifiers uniquely associated with your device. Similar technologies include tracking pixels within ads. These technologies allow companies (including marketers and advertisers) to recognize your device when you use websites and applications.<br>
            </p>    
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                “Device information” means device type, model, manufacturer, operating system and language, or other technical data like supported application programming interfaces (“APIs”), screen size, processor, or a combination of this data, available from a device for a developer to check the device’s compatibility with a particular application.<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Some of this information may be collected using cookies and/or similar technologies, such as software development kits (“SDKs”). The Services may use cookies and other technologies such as pixel tags, local shared objects, hardware-based device identifiers, flash cookies, operating system-based identifiers, clear GIFs and web beacons. Cookies are pieces of data that sites and services can set on your browser or device that can be read on future visits. We may expand our use of cookies to save additional data as new features are added to our Services. However, you can disable cookies by changing your browser settings. Further information about how to disable cookies can be found on your Internet browser provider’s help screen.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Information we obtain from third party sources</strong><br>
                (a) Third party service providers.<br>
                We may receive Personal Data about you from third-party sources. We may obtain your Personal Data, for example, when you installed our App or when, prior to installation, you click on an advertisement for the App (see the “Third-Party Advertisements” section below for more information).<br>
            </p>    
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                In order to better understand our users of the Services, we may conduct research on our customer demographics, interests and behavior based on the information collected. This research may be compiled and analyzed on an aggregate basis, and we may share this aggregate data with our affiliates, agents and business partners. We may also disclose aggregated user statistics in order to describe our services to current and prospective business partners, and to other third parties for other lawful purposes.<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Digipom may use Google Analytics (see http://www.google.com/analytics/), Google Firebase Analytics (see https://firebase.google.com/features/analytics/), Firebase Crashlytics (see https://firebase.google.com/docs/crashlytics) or other similar services to collect such information.<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                The Application makes use of Google Analytics Demographics and Interest Reporting (see https://support.google.com/analytics/answer/2799357) which gives Digipom certain demographic and interest information about our Application users. None of this information, however, can identify you personally to Digipom. The information may be used to serve you advertisements that will be of interest to you. You can disable this feature through your Android settings of your Device or the Google Settings App. You can also opt out of such Google advertising at any time by visiting your Google Ads Settings page (see https://www.google.com/settings/ads).<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                (b) Advertising partners.<br>
                From time to time, we may also receive Personal Data about you from other third-party sources. For example, if you clicked on an advertisement directing you to one of our Services (such as an ad for one of our Apps in another publishers’ app), we will be provided with Data about which ad network and advertising campaign the install originated from. Please see the Advertising section below for more information.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Categories of Personal Data Collected under the CCPA</strong><br>
                We collect the following categories of Personal Data as defined in the CCPA, and have done so in the past 12 months:<br>
                &nbsp;&nbsp; 1. Identifiers (your name, email or other contact information, when provided);<br>
                &nbsp;&nbsp; 2. Internet or other electronic network activity information on our Internet Web sites and applications, including, but not limited to, browsing history, search history, and information regarding your interaction with an Internet Web site, application, or advertisement; and<br>
                &nbsp;&nbsp; 3. Geolocation data.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>What we don’t collect</strong><br>
                Under no circumstances does Digipom collect, download or otherwise make copies of any recordings you make using any of our apps (hereinafter “Recordings”) and any reference to Personal Data in the present Policy does not include Recordings, or any Personal Data about you or any third party included in the Recordings. Notwithstanding the foregoing, you may make copies of Recordings via application or operating system features (such as the share menu or via file system access), and/or by uploading them to various cloud services such as Dropbox, Google Drive and iCloud. However, Digipom has no access whatsoever to these copies and therefore any Personal Data about you or any third party contained in the copies of Recordings is also not covered by this Policy.
            </p>
        </div>
    </section>

    <section class="px-4 mb-12 lg:px-0 lg:max-w-[1110px] lg:mx-auto">
        <div class="max-w-[826px]">
            <h2 class="font-bold text-app lg:text-app mb-4">How we use your personal data</h2>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                We use your Personal Data for the following purposes:            
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>To provide and operate our Services</strong><br>
                &nbsp;&nbsp;&bull; To provide you with the correct versions of our apps (e.g. knowing which language to make our apps available to you in).
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>To improve our Services and keep them secure</strong><br>
                &nbsp;&nbsp;&bull; To respond to your customer support requests (e.g. if you write to us with a complaint),<br>
                &nbsp;&nbsp;&bull; To receive error messages about any issues you or your device encounter with our Services to enable us to fix bugs and interoperability issues,<br>
                &nbsp;&nbsp;&bull; To detect and prevent illegal activities,<br>
                &nbsp;&nbsp;&bull; To track App installs (e.g. for purposes of measuring the effectiveness of marketing campaigns),<br>
                &nbsp;&nbsp;&bull; To conduct optional user feedback surveys,<br>
                &nbsp;&nbsp;&bull; To understand you, your preferences and user traffic to enhance your experience and enjoyment of our Services,<br>
                &nbsp;&nbsp;&bull; To conduct research.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>To personalize our Services</strong><br>
                &nbsp;&nbsp;&bull; To remember you the next time you visit one of our Services,<br>
                &nbsp;&nbsp;&bull; To communicate with you about promotions, rewards, upcoming events, and other news about products and services we offer.<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>For promotional activities, including marketing and advertising</strong><br>
                &nbsp;&nbsp;&bull; To provide you with in-app offers and rewards based on your in-app behaviors,<br>
                &nbsp;&nbsp;&bull; To serve you with relevant targeted advertisements (necessary to fund our Services),<br>
                &nbsp;&nbsp;&bull; To make you offers to purchase in-app items on discount based on your in-app activity and purchase history,<br>
                &nbsp;&nbsp;&bull; To send you marketing communications and/or newsletters about rewards and promotions if you have subscribed to them.<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Other</strong><br>
                &nbsp;&nbsp;&bull; To comply with our legal obligations,<br>
                &nbsp;&nbsp;&bull; To exercise, establish or defend our legal rights, or to protect your vital interests or those of any other person,<br>
                &nbsp;&nbsp;&bull; To prevent and/or detect fraud or fraudulent behavior.<br>
            </p>
        </div>
    </section>

    <section class="px-4 mb-12 lg:px-0 lg:max-w-[1110px] lg:mx-auto">
        <div class="max-w-[826px]">
            <h2 class="font-bold text-app lg:text-app mb-4">Advertising</h2>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                We use advertising to fund our Services and to make some of our apps or versions of our apps available for free. We show third-party advertising in our Apps and also advertise our Services via third parties. We want to provide you with more detail about how we use information for advertising, both in our properties and in third-party properties.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>When you view ads in Digipom properties (e.g. in our Apps)</strong><br>
                To enable us to show in-app ads, we may send your advertising ID, IP address and device information to advertisers (or ad networks) to enable them to find appropriate ads to serve to you in our Apps and on third-party properties. You can control and limit our use of your advertising ID in your device settings. Digipom does not control which specific ads are shown in our apps (this is controlled by the ad networks), but we do prohibit certain types of ads.
                Advertising IDs are used by ad networks for a number of purposes, including, for example, to:
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                &nbsp;&nbsp; 1. Limit the number of times you see the same ad.<br>
                &nbsp;&nbsp; 2. Ensure they are dealing with humans with real devices and not automated “bots”.<br>
                &nbsp;&nbsp; 3. Serve you with advertisements likely to be relevant to you based on your advertising ID, your engagement with other brands and ads which is recorded using your advertising ID, and to use your general geographic area.<br>
                &nbsp;&nbsp; 4. Other brands may buy ad placements via an ad network or ad exchange to advertise their products in our Apps. The ad network or ad exchange acts as an intermediary between the other app companies and Digipom. In order for the ad network to charge the company purchasing the ad, clicks from the ad and potential installs of other developers’ apps are tracked. These views, clicks and installs from ads are measured using the Advertising ID.<br>
                &nbsp;&nbsp; 5. Track which apps you have used to market you similar kind of apps. Your IP address is typically used by advertisers to identify your general geographic location, for example, your country, state and, sometimes, your city.<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>When you view Digipom ads on third-party services</strong><br>
                Digipom also advertises its Apps on other apps by asking ad networks to place ads for audiences that will be interested in them, determined using Advertising IDs. Ad networks use Advertising IDs for this and other purposes, including, for example, to:<br>
                &nbsp;&nbsp;&bull; Measure ad effectiveness (including total views, clicks and installs generated by its advertising in other publishers’ apps),<br>
                &nbsp;&nbsp;&bull; Not display ads for an app a user is already using. Digipom may send a list of active users in the form of Advertising IDs to an ad network. The ad network then excludes these users from seeing the ad.<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Third-party advertisements</strong><br>
                Where you have downloaded one of our apps, we may use Google, a third-party vendor, to serve advertisements in the App, using the AdMob system (see http://www.admob.com/home/privacy).<br>
                In addition to Google advertisements, from time to time we may allow other third-party companies to serve ads and/or collect certain anonymous data when you use the Application. This list currently includes:<br>
                &nbsp;&nbsp;&bull; Chocolate Platform (see <a href="https://chocolateplatform.com/privacy-policy/">https://chocolateplatform.com/privacy-policy/</a>)<br>
                &nbsp;&nbsp;&bull; Fluct (see <a href="https://corp.fluct.jp/privacy/ads/">https://corp.fluct.jp/privacy/ads/</a>)<br>
                &nbsp;&nbsp;&bull; InMobi (see <a href="https://www.inmobi.com/privacy-policy">https://www.inmobi.com/privacy-policy</a>)<br>
                &nbsp;&nbsp;&bull; Mobfox (see <a href="https://www.mobfox.com/privacy-policy/">https://www.mobfox.com/privacy-policy/</a>)<br>
                &nbsp;&nbsp;&bull; Pubmatic (see <a href="https://pubmatic.com/legal/privacy-policy/">https://pubmatic.com/legal/privacy-policy/</a>)<br>
                &nbsp;&nbsp;&bull; Tappx (see <a href="https://www.tappx.com/privacy-policy/">https://www.tappx.com/privacy-policy/</a>)<br>
                &nbsp;&nbsp;&bull; Unity (see <a href="https://unity3d.com/legal/privacy-policy">https://unity3d.com/legal/privacy-policy</a>)<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Amazon Appstore, ONE store and Samsung Galaxy Store only:<br>    
                &nbsp;&nbsp;&bull; Applovin Ads (see <a href="https://www.applovin.com/privacy/"></a>https://www.applovin.com/privacy/)</p>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Huawei AppGallery only:<br>    
                &nbsp;&nbsp;&bull; Petal Ads (see <a href="https://consumer.huawei.com/en/privacy/privacy-policy/">https://consumer.huawei.com/en/privacy/privacy-policy/</a>)<br>
                You can opt out of interest-based advertising on mobile applications by changing the privacy settings of your device and selecting “limit ad tracking” (Apple iOS) or “opt out of interest-based ads” (Android).
            </p>
        </div>
    </section>

    <section class="px-4 mb-12 lg:px-0 lg:max-w-[1110px] lg:mx-auto">
        <div class="max-w-[826px]">
            <h2 class="font-bold text-app lg:text-app mb-4">Legal basis for processing personal data</h2>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Our legal basis for collecting and using the Personal Data described above will depend on the Personal Data concerned and the specific context in which we collect it. However, we will normally collect Personal Data from you only where (i) we need the Personal Data to perform a contract with you, (ii) the processing is in our legitimate interests and not superseded by your rights, or (iii) we have your consent to do so.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                (a) Under our terms of service, “performance of contract” as a legal basis for processing your Personal Data refers to when we make the App and Services available to you, provide customer support, integrate Apps with technology and distribution platforms such as Apple iOS and Google Android, and inform you of service-related changes and App progress.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                (b) We process your Personal Data on the basis of our legitimate interests for example when we provide you the App and App events, serve interest-based advertisements to you (both in-app and on third-party properties), carry out marketing, keep our apps secure, for engineering purposes, analyzing the users’ behavior across our Apps, moderating chat discussion.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                (c) We have a “legal obligation” to process your Personal Data when complying with a legal obligation, such as the preventing a crime or fraud or maintaining tax records.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                (d) If we ask you to provide Personal Data to comply with a legal requirement or to perform a contract with you, we will make this clear at the relevant time and advise you whether the provision of your Personal Data is mandatory or not (as well as of the possible consequences if you do not provide your Personal Data).
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Who does Digipom share my Personal Data with?</strong><br>
                We may share your Personal Data with the following types of recipients:<br>
                (a) With third-party service providers and partners who provide data processing services to us (for example, to support the delivery of, provide functionality on, or help enhance the security of our Services), or parties that otherwise process Personal Data for the purposes described in this Policy or communicated to you when we collect your Personal Data.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                (b) With any competent law enforcement body, regulatory authority, government agency, court of law or other third party where we believe disclosure is necessary (i) as a matter of applicable law or regulation, (ii) to exercise, establish or defend our legal rights, or (iii) to protect your vital interests or those of any other person.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                (c) With a potential or actual buyer (and its agents and advisers) in connection with any proposed or actual purchase, merger or acquisition of any part of our business, provided that we inform the buyer it must use your Personal Data solely for the purposes disclosed in this Policy, and adhere to all the other obligations in this Policy.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                (d) With any other person, with your consent for such disclosure.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Categories of Personal Data disclosed under the CCPA</strong><br>
                We disclose the following categories of Personal Data as defined in the CCPA, and have done so in the past 12 months:<br>
                &nbsp;&nbsp; 1. Internet or other electronic network activity information on our Internet Web sites and applications, including, but not limited to, browsing history, search history, and information regarding your interaction with an Internet Web site, application, or advertisement; and<br>
                &nbsp;&nbsp; 2. Geolocation data.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Does Digipom sell my Personal Data?</strong><br>
                Digipom does not sell your Personal Data to any third party.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>How does Digipom keep my Personal Data secure?</strong><br>
                Digipom uses standard industry practice (physical, electronic and procedural) to protect all data collected (including Personal Data) secure. We take reasonable steps to protect the Data provided via the Services from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. However, no Internet or email transmission is ever fully secure or error free. In particular, email sent to or from the Services may not be secure. Therefore, you should take special care in deciding what Personal Data you send to us via email. Please keep this in mind when disclosing any Personal Data via the Internet.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Data retention</strong><br>
                We retain Personal Data we collect from you where we have an ongoing legitimate business need to do so, for example, to provide you with a Service you have requested, or to comply with applicable legal, tax or accounting requirements. We generally retain Personal Data so long as it may be relevant to the purposes identified herein. To dispose of Personal Data, we may anonymize it, delete it or take other appropriate steps. Personal Data may persist in copies made for backup and business continuity purposes for additional time, but it will be deleted as soon as practicable.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Your data protection rights</strong><br>
                If you wish to inquire about and access what Personal Data Digipom holds about you to verify and/or correct it, or if you wish to delete any Personal Data held about you from our databases, please contact us using the information further up in this Policy. Please note that deletion of your Personal Data may make it impossible for you to use the Services. Please note that if you request deletion of your Personal Data, Digipom reserves the right to retain some of your Personal Data for a reasonable time in order to satisfy our legal obligations, or where we reasonably believe that we have a legitimate reason to do so.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                You have the following data protection right, which may be exercised without affecting the Services or the price you pay for any of the Services:
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                (a) To access, correct, update or demand deletion of your Personal Data, without any charge to you.<br>
                (b) To object to the processing of your Personal Data (which is processed on the grounds of legitimate interests), ask us to restrict processing of your Personal Data or request portability of your Personal Data.<br>
                (c) To opt out of marketing communications we send you, at any time.<br>
                (d) To know whether Digipom sells or shares your Personal Data (and if so, who gets it). Please refer to that information elsewhere in this Policy.<br>
                (e) To demand that Digipom does not sell your Personal Data. For more information, please visit our “Do Not Sell My Personal Information” page.<br>
                (f) If we are processing your Personal Data with your consent, you can withdraw your consent at any time. Withdrawing your consent will not affect the lawfulness of any processing we conducted prior to your withdrawal, nor will it affect the processing of your Personal Data conducted pursuant to lawful processing grounds other than consent.<br>
                If you wish to exercise any of these rights, please contact us at privacy@digipom.com.<br>
                (g) You have the right to file a complaint with a data protection authority about our collection and use of your Personal Data. For more information, please contact your local data protection authority.<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                You can control and limit the type of Personal Data we collect and process about you in a number of ways. For example, you can reset your mobile advertising identifier or limit ad tracking altogether using the settings on your phone. You can also limit or disable the use of cookies (or similar technologies). We will respond to all requests we receive from individuals wishing to exercise their data protection rights in accordance with applicable data protection laws. Please note that the data protection rights available to you may vary depending on which data protection laws apply to you.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Transfer of your Personal Data outside of the European Economic Area (EEA)</strong><br>
                For European users, we endeavour to keep your personal data inside the EEA. However, certain of our data processors (and Digipom) are in other countries where your Personal Data may be transferred. However, these countries are limited to countries with particular circumstances that protect your data, specifically:
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Canada. Canada has been determined to have an “adequate level of protection” for your Personal Data under European data protection law.The United States. Your personal data is only transferred to companies in the United States that: (1) have signed the Standard Contractual Clauses for the transfer of personal data outside the EEA; and (2) have signed agreements with us or have informed us that they are GDPR-compliant.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                Notwithstanding the foregoing certain of our advertising network partners may transfer unique identifiers including your IP address (considered personal data under the GDPR) to their advertisers who may be located outside Canada or the USA. You can avoid this transfer by opting out of our advertising, as described in the Advertising section of this Policy.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Use of device permissions</strong><br>
                The following is a listing and description of certain functions on the Device that are accessed and/or modified by our Apps, and which may require explicit user permission to access. You acknowledge that denying explicit user permission may affect or reduce your user experience with the App, or prevent the App from working at all.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Android</strong><br>
                &nbsp;&nbsp;&bull; ACCESS MICROPHONE<br>
                &nbsp;&nbsp;&bull; Allows the App to make Recordings using the microphone.<br>
                &nbsp;&nbsp;&bull; CHANGE YOUR AUDIO SETTINGS<br>
                &nbsp;&nbsp;&bull; Allows the App to modify global audio settings such as volume and which speaker is used for input/output.<br>
                &nbsp;&nbsp;&bull; FULL NETWORK ACCESS<br>
                &nbsp;&nbsp;&bull; Allows the App to create network sockets and use custom network protocols.<br>
                &nbsp;&nbsp;&bull; PAIR WITH BLUETOOTH DEVICES / ADMINISTRATE BLUETOOTH<br>
                &nbsp;&nbsp;&bull; Allows the App to view the configuration of Bluetooth on the Device, and to make and accept connections with paired devices.<br>
                &nbsp;&nbsp;&bull; MODIFY OR DELETE THE CONTENTS OF YOUR USB STORAGE / MODIFY OR DELETE THE CONTENTS OF YOUR SD CARD<br>
                &nbsp;&nbsp;&bull; Allows the App to read and write to the USB storage and / or SD card.<br>
                &nbsp;&nbsp;&bull; PREVENT DEVICE FROM SLEEPING / PREVENT PHONE FROM SLEEPING<br>
                &nbsp;&nbsp;&bull; Allows the App to prevent the Device from going to sleep to ensure continuous recording.<br>
                &nbsp;&nbsp;&bull; MODIFY SYSTEM SETTINGS<br>
                &nbsp;&nbsp;&bull; Allows the App to modify the system’s settings data (i.e. to set a Recording as a ringtone).<br>
                &nbsp;&nbsp;&bull; VIEW NETWORK CONNECTIONS<br>
                &nbsp;&nbsp;&bull; Allows the App to view information about network connections such as which networks exist and are connected.<br>
                &nbsp;&nbsp;&bull; READ PHONE STATE<br>
                &nbsp;&nbsp;&bull; When enabled, allows the App to pause a Recording when a phone call is received.<br>
                &nbsp;&nbsp;&bull; CHECK LICENSE<br>
                &nbsp;&nbsp;&bull; Verifies the market license.<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>iOS</strong><br>
                &nbsp;&nbsp;&bull; MICROPHONE<br>
                &nbsp;&nbsp;&bull; Allows the App to make Recordings using the microphone.<br>
                &nbsp;&nbsp;&bull; SPEECH RECOGNITION<br>
                &nbsp;&nbsp;&bull; Allows the Application to generate transcriptions of the Recordings.<br>
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Age limit</strong><br>
                When we collect Personal Data we do not know the age of our users. If we discover we has inadvertently gathered Personal Data from a minor under 13 years of age, we will take reasonable measures to promptly delete such Personal Data from our records.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                <strong>Changes to this Privacy Policy</strong><br>
                The date at the top of this page indicates when this Policy was last updated. Every now and then, we will have to update this Policy. This Policy will be updated no less than once every 12 months. You can always find the most updated version at this URL, and we will always post a notice on or through the Services if we make big changes.
            </p>
            <p class="text-dpdarkblue text-opacity-60 text-sm leading-6 mb-4">
                &copy; Digipom 2023
            </p>
        </div>
    </section>

</Layout>
