---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import '../../styles/digipom.css';

export async function getStaticPaths() {
    const newsEntries = await getCollection('news');
    return newsEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title="News - Digipom">
	<section class="px-4 py-3 lg:px-0 mb-2 md:mb-14 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-center">
		<div class="flex flex-col">
			<Content />
		</div>
	</section>
</Layout>