<!-- Digipom footer -->
<footer class="bg-dpneutral-300 bg-opacity-10">
    <div class="px-2 py-8 lg:px-0 lg:max-w-[1110px] lg:mx-auto">
        <div class="sm:flex sm:items-start sm:gap-36">
            <a href="/" class="flex items-center mb-6">
                <img src="/images/Dog-logo-final.png" class="w-12 h-12 mr-3">
                <div class="font-semibold text-dpgreen text-logo">Digipom</div>
            </a>
            <div>
                <h3 class="text-lg text-dpdarkblue font-semibold mb-6 md:pt-4">About</h3>
                <ul>
                    <li class="mb-4"><a class="hover:text-dpgreen/100 text-opacity-60" href="/">Home</a></li>
                    <li class="mb-4"><a class="hover:text-dpgreen/100 text-opacity-60" href="/apps">Our apps</a></li>
                    <li class="mb-4"><a class="hover:text-dpgreen/100 text-opacity-60" href="/about">Who are we?</a></li>
                    <li class="mb-4"><a class="hover:text-dpgreen/100 text-opacity-60" href="/contact">Contact us</a></li>
                </ul>
            </div>
            <div>
                <h3 class="text-lg text-dpdarkblue font-semibold mb-6 pt-7 md:pt-4">Follow us</h3>
                <ul>
                    <li class="mb-4 flex items-center">
                        <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.8333 1.33003C25.7161 2.11809 24.4791 2.72082 23.17 3.11503C22.4674 2.30713 21.5335 1.7345 20.4949 1.47461C19.4562 1.21472 18.3627 1.28009 17.3624 1.66189C16.3621 2.04369 15.5032 2.7235 14.9018 3.60937C14.3004 4.49523 13.9856 5.54442 14 6.61503V7.7817C11.9497 7.83486 9.91814 7.38014 8.08617 6.45805C6.25419 5.53596 4.67869 4.1751 3.49999 2.4967C3.49999 2.4967 -1.16668 12.9967 9.33332 17.6634C6.93061 19.2943 4.06834 20.1121 1.16666 19.9967C11.6667 25.83 24.5 19.9967 24.5 6.58003C24.4989 6.25506 24.4677 5.93089 24.4067 5.6117C25.5974 4.43744 26.4376 2.95486 26.8333 1.33003V1.33003Z" stroke="#408712" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <a class="hover:text-dpgreen/100 text-opacity-60 ml-1" href="https://twitter.com/digipom?lang=en" target="_blank">@Digipom</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="bg-dpdarkblue text-white">
    <div class="lg:max-w-[1110px] lg:mx-auto flex items-center flex-wrap justify-evenly md:justify-start gap-6 p-6 whitespace-nowrap">
        <div class="basis-full flex items-center justify-center sm:basis-auto">Digipom 2023</div>
        <a class="hover:text-dpgreen" href="/privacy">Privacy policy</a>
        <a class="hover:text-dpgreen" href="/terms">Terms of use</a>
    </div>
</div>