---
import Footer from './Footer.astro';
import Header from './Header.astro';
import '../styles/app.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body class="h-screen bg-white dark:bg-darkmodebackground text-dpdarkblue">

		<!-- Header / Havbar -->
		<Header />

		<!-- Main page content -->
		<div class="px-4">
			<slot />
		</div>

		<!-- Footer -->
		<Footer />
		<script is:inline src="/navMenu.js"></script>
	</body>
</html>
